
/*on page before and after search*/

#content {
    display: none
    }

#glyph {
    padding: 2.25px;
    }

#sidebarnav {
    position: fixed;
    bottom: 50%;
    margin-left: -60px;
    float:left;
    width: 150px;
    background-color: none;
    padding: 5px 0 0px 0px;
    z-index: 9999px !important;
    }

#sb {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 140px;
  text-decoration: none;
  margin: 2.5px;
}

#sb:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



/*before search css*/
#input {

    margin: 5px;
    padding: 5px;
    }

#buttn {
    margin: 5px;
    padding: 5px;
    }

/*output page css*/

li {
    list-style-type: none;
    display: inline;

    }

#padding {
    margin-top: 20px;
    }

#embedimage {
    padding: 10px;
    }

#image {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    }

#lnx.a:link {
    color: blue
    text decoration: none;
    }
#lnx.a:visited {
    color: purple
     text decoration: none}
#lnx.a:hover {
    color: purple
    text decoration: underline
    }
#lnx.a:active {
    color: purple
    text decoration: underline
    }


q:lang(no) {
    parentheses: '&#40' '&#41';
        }

