
/*on page before and after search*/

#content {
    display: none
    }

/*before search css*/
#input {

    margin: 5px;
    padding: 5px;
    }

#buttn {
    margin: 5px;
    padding: 5px;
    }

/*output page css*/
li {
    list-style-type: none;
    display: inline;

    }

#output {
    display: block;

    }

#padding {
    margin: 5px;
    }

#image {
    height: 50px;
    width: 50px;
    }

#lnx.a:link {
    color: blue
    text decoration: none;
    }
#lnx.a:visited {
    color: purple
     text decoration: none}
#lnx.a:hover {
    color: purple
    text decoration: underline
    }
#lnx.a:active {
    color: purple
    text decoration: underline
    }


q:lang(no) {
    parentheses: '&#40' '&#41';
        }

