
/*on page before and after search*/


#content {
    display: none
    }

#undertopnav {
    margin-bottom: 15px;

    }

#title {
    text-align: left;
    margin-left: -1%;
    padding-top: 10px;
    font-size: 20px;
    color: black;
    }

#glyph {
    padding: 2.25px;
    }

#sidebarnav {
    position: relative;
    bottom: 50%;
    float:left;
    background-color: none;
    padding: 5px 0px 0px 0px;
    z-index: 9999px !important;
    }

.sidebutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 140px;
  text-decoration: none;
  margin: 2.5px;
}

.sidebutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/*before search css*/
#input {
    margin: 5px;
    padding: 5px;
    }

#buttn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    margin: 5px;
    padding: 5px;
    }

#buttn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
    }

/*output page css*/

.side {
    list-style-type: none;
    }

#resize {
    overflow: auto;
    }

#output {
    display: block;
    text-align: justify;
    overflow: auto;
    }

.list {
    list-style-type: none;
    display: inline;
    }

.pagedown {
    list-style-type: none;
    display: block
    margin-top: 20px;
    padding-top: 20px;
    }

#embedimage {
    margin-top: 10px;
    width: 50%
    height: auto;

    }

a.simple:link {
    color: blue
    text decoration: none;
    }

a.simple:visited {
    color: purple
     text decoration: none
     }

a.simple:hover {
    color: purple
    text decoration: underline
    }

a.simple:active {
    color: purple
    text decoration: underline
    }



